.itemDetail{
    margin-top: 10%;
    
    display:flex;
}

.descProd{
    margin-left: 5%;
    width: 60%;
    
}
.elItem{
    text-align: center;
    
}
.count{
    float: right;
    margin-top:15%;
    margin-right:50%;
}
.miImg{
    width: 50%;
    
    margin-left:5;
}
.btnAbajito{
    margin-top:15%;
}


@media (max-width: 1000px) {
    .detail{
        display:block;
    }
    .miImg{
        width: 100%;
        text-align: center;
    }
    
}