.itemDetail{
    margin-top: 10%;
    
    display:flex;
}

.descProd{
    margin-left: 5%;
    width: 60%;
    
}
.elItem{
    text-align: center;
    
}
.count{
    float: right;
    margin-top:5%;
    margin-right:50%;
}
.miImg{
    width: 50%;
    
    margin-left:5;
}
.btnAbajito{
    margin-top:15%;
}
.laDesc{
    margin-top: 15%;
}


@media (max-width: 1000px) {
    .itemDetail{
        display:block;
    }
    /* .detail{
        display:block;
    } */
    .miImg{
        width: 100%;
        text-align: center;
    }
    .descProd{
        margin-top:5%;
        width: 90%;
        
    }
    .miImg{
        width: 100%;
        
        
    }
    .count{
        width: 100%;
      margin: 0 auto;
    }
}